@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;1,400&display=swap");

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Libre Baskerville", serif;
    font-family: "Merriweather", serif;
}
body {
    width: 100vw;
    height: 100vh;
}
.brand  {
        background-color: navy;
        color: aliceblue;
        text-align: center;
        padding: 20px;
        font-size: 30px;
        font-weight: bolder;
}
.home{
        display: flex;
        flex-direction: column;
}
.playground{
        height: 90vh;
}
.game-board{
        display: grid;
        height: 500px;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        justify-content: center;
        align-items: center;
        background-color: azure;
}
.board-row{
        height: 40px;
        width: 40px;
        border: 2px solid crimson;
}